<div class="container-fluid add-comment">
  <div class="row">
    <div class="col-1 avatar-area">
      <img class="img-wrap" src="assets/images/avatars/{{loggedInUser.username}}.png" />
    </div>

    <div class="col-7 content-area"> 
        <textarea
            matInput
            matTextareaAutosize
            [placeholder]="placeHolder"
            cols="120"
            (input)="OnTextChanged($event)"
            #comment
        ></textarea>
    </div>

    <div class="col-1 action-area">      
      <button mat-button type="button" class="send-button float-end" (click)="sendComment()" [disabled]="!readyToSend">SEND</button>
    </div>
    <div class="col-3 responsive-col"></div>
  </div>
</div>
