.add-comment {
  max-width: 75vw;
  position: absolute;
  margin-left: 220px;

  @media only screen and (max-width: 1600px) {
    margin-left: 60px;
    max-width: 100vw;
  }

  @media only screen and (max-width: 1200px) {
    width: 30px;
    max-width: 100vw;
  }

  .avatar-area {
    background-color: white;
    margin-right: -60px;

    @media only screen and (max-width: 1200px) {
      margin-right: 60px;
    }

    .img-wrap {
      margin-top: 15px;
      flex: 0 0 60px;
      max-width: 60px;

      img {
          max-width: 100%;
          width: 100%;
      }
    }    
  }
  
  .content-area {
    background-color: white;
    width: 875px;

    @media only screen and (max-width: 1600px) {
      width: 500px;
    }

    @media only screen and (max-width: 1200px) {
      width: 200px;
    }

    textarea {  
      margin: 15px;
      padding: 10px;
      border:1px solid lightgrey;    
      background-color: transparent;
      height: 120px;
      width: 820px;

      @media only screen and (max-width: 1600px) {
        width: 500px;
      }

      @media only screen and (max-width: 1200px) {
        width: 200px;
      }
      
      overflow:hidden;
    }
  }

  .send-button {
    background-color: #2d3ed4;
    color: white;
    font-size: small;
    margin: 15px;
  }
}


